@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Aboreto&family=Gotu&family=Manrope:wght@300&family=Playfair+Display:ital,wght@1,700&family=Prata&family=Raleway:wght@300&display=swap");
/*font-family: 'Aboreto', cursive;
font-family: 'Gotu', sans-serif;
font-family: 'Manrope', sans-serif;
font-family: 'Playfair Display', serif;
font-family: 'Prata', serif;
font-family: 'Raleway', sans-serif;
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #33313B;
}

.parallax-tres {
  display: flex;
  justify-content: center;
  align-items: end;
  height: 450px;
  background-image: url("/images/fondoindex3.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  padding: 50px;
}

.redes img {
  padding: 25px;
}

.copy {
  height: 50px;
  background-color: #2a2626;
  text-align: center;
  color: beige;
}

.bienvenida {
  width: 100%;
  height: 100vh;
  background-image: url("/images/fondo12.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bienvenida__texto {
  padding: 18px;
  width: 500px;
  text-align: center;
  color: beige;
  font-size: 20px;
}

h1 {
  font-family: "Playfair Display", serif;
  color: beige;
}

h2 {
  font-size: 32px;
  font-weight: 300;
  color: beige;
}

.novedades {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 200px;
  background: rgb(42, 38, 38);
  text-align: center;
  padding: 40px;
}
.novedades:hover {
  background-color: #102233;
  color: #dbe1e1;
}

.text-present {
  font-size: 20px;
  color: beige;
  padding: 20px;
}

.cards {
  display: flex;
  height: 800px;
  background-image: url("/images/fondoindex9.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  justify-content: center;
  align-items: center;
}
.cards h2 {
  display: flex;
  height: inherit;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-weight: 400;
}

.texto {
  color: beige;
}

.card-group {
  width: 85%;
  height: 80%;
  display: flex;
  justify-content: center;
  gap: 25px;
}

.card {
  background-color: rgba(90, 13, 13, 0.5450980392);
}
.card img {
  border-radius: 100%;
  padding: 15px;
}
.card img:hover {
  border: 15px solid rgba(98, 8, 8, 0.3803921569);
  filter: hue-rotate(180deg);
}

.card-title {
  text-align: center;
  color: beige;
}

.card-text {
  text-align: center;
  color: #fff;
}

.texto {
  background: #33313B;
  height: 190px;
}
.texto h2 {
  text-align: center;
  color: #000;
  display: flex;
  height: inherit;
  justify-content: center;
  align-items: center;
}

/* --------------MEDIA QUERY  INDEX------------------------------------------*/
@media only screen and (max-width: 900px) {
  .card-group {
    width: 85%;
    height: 80%;
    display: flex;
    justify-content: center;
    gap: 5px;
  }
  .cards {
    height: 1000px;
  }
}
@media only screen and (max-width: 655px) {
  .bienvenida {
    display: flex;
    flex-direction: column;
    height: auto;
    justify-content: center;
  }
  .bienvenida__texto {
    width: 100%;
    text-align: center;
  }
  .bienvenida__title {
    width: 100%;
    text-align: center;
  }
  .cards h2 {
    font-size: 20px;
  }
  .cards p {
    font-size: 15px;
  }
}
@media only screen and (max-width: 577px) {
  .cards {
    height: auto;
  }
  .card-group {
    width: 80%;
    height: 100%;
    display: grid;
    justify-content: center;
    gap: 25px;
    padding: 20px;
  }
}
@media only screen and (max-width: 470px) {
  .redes img {
    padding: 5px;
  }
  .texto-bienv {
    padding: 15px;
    width: auto;
    font-size: 15px;
  }
  h2 {
    font-size: 20px;
    font-weight: 300;
  }
  .novedades {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 200px;
    background: rgb(42, 38, 38);
    text-align: center;
    padding: 20px;
  }
  .copy {
    font-size: 10px;
  }
}
@media only screen and (max-width: 356px) {
  .bienvenida img {
    width: 80%;
  }
  .card-group {
    width: 100%;
    height: 100%;
    display: grid;
    justify-content: center;
    gap: 25px;
    padding: 20px;
  }
  .parallax-tres {
    height: 150px;
    padding: 0 0 30px 0;
  }
  .novedades {
    height: auto;
  }
  .text-present {
    font-size: 15px;
    padding: 10px;
  }
}
/* ---------FINAL MEDIA QUERY  INDEX-----------------------------------------*/
/*.....ASTROLOGÍA.......*/
.astro {
  width: 100%;
  height: 100vh;
  background-image: url("../images/fondoindex6.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.astrol {
  color: rgba(29, 29, 29, 0.662745098);
}

.astro-def {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  background: #33313B;
  text-align: center;
  padding: 40px;
}
.astro-def p {
  font-size: 15px;
  color: beige;
  padding: 40px;
}

.astro-articulo {
  display: flex;
  height: 800px;
  background-image: url("/images/fondoindex8.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  justify-content: center;
  align-items: center;
}
.astro-articulo img {
  padding: 30px;
}

.escrito {
  padding: 30px;
}

.astro-biblio {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  background: #33313B;
  text-align: center;
  padding: 1.5em;
}

.astro-arts img {
  width: 100px;
  margin: 5px -15px;
}

.astro-arts img:hover {
  transform: transltaleY(-30px);
  scale: 1.4;
  transition: all 0.35s ease;
}

/* ---------------ASTROLOGIA QUERYS--------------------------------*/
@media only screen and (max-width: 934px) {
  .astro-articulo {
    display: grid;
    height: auto;
    place-items: center;
  }
  .astro-articulo img {
    padding: 0px;
  }
  .astro-def {
    padding: px;
  }
  .astro-biblio {
    justify-content: center;
    padding: 0 20px;
    margin: 0px -15px;
  }
  .parallax-tres {
    width: auto;
    height: 150px;
    padding: 0 0 30px 0;
  }
  .astro-articulo p {
    font-size: 10px;
  }
}
/* -----  ----FINAL ASTROLOGIA QUERYS--------------------------------*/
/*  - GEMOTERAPIA ----------------------------------------------------*/
.gemo {
  width: 100%;
  height: 100vh;
  background-image: url("../images/gemas/caratula3.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  text-align: center;
}

.gemo__title {
  width: 300px;
  height: auto;
  text-shadow: #Fff 1px 0 15px;
  border-radius: 5%;
  text-align: center;
  position: absolute;
  top: 40%;
  right: 5%;
  background: rgba(51, 49, 59, 0.5019607843);
}

.gemas {
  width: 100%;
  font-size: 25px;
}

.geo {
  display: flex;
  flex-direction: wrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 1.5em;
  padding: 20px;
  flex-wrap: wrap;
}

.astro-def {
  padding: 20px 20px 0 0;
}

.tarjeta {
  border-radius: 100%;
  overflow: hidden;
  position: relative;
  justify-content: center;
  flex-basis: 280px;
  max-width: 250px;
  flex-grow: 1;
}

.tarjeta-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 100%;
}

.tarjeta-body {
  width: 100%;
  height: 100%;
  top: 0;
  right: -100%;
  position: absolute;
  background: rgba(31, 61, 71, 0.2196078431);
  backdrop-filter: blur(5px);
  border-radius: 100%;
  color: #fff;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: 1.5s;
}

.tarjeta:hover .tarjeta-body {
  right: 0;
}

.tarjeta-title, .tarjeta-body {
  text-align: center;
}

.tarjeta-title {
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 500;
}

.tarjeta-sub-title {
  text-transform: capitalize;
  font-size: 15px;
  font-weight: 300;
}

.tarjeta-info {
  font-size: 12px;
}

.tarjeta-btn {
  color: #1f3d47;
  background: rgba(143, 171, 186, 0.4392156863);
  padding: 5px 10px;
  text-transform: capitalize;
  border: none;
  outline: none;
  font-weight: 500;
  font-size: 10px;
  cursor: pointer;
}

.articulo-gemas {
  display: flex;
  margin: 0 auto;
  width: 90%;
  padding: 20px;
  justify-content: space-evenly;
  align-items: center;
}

.escrito {
  background-color: #494852;
  border-radius: 5%;
  color: beige;
}

.video {
  display: flex;
  flex-direction: column;
  width: 300px;
  padding: 20px 0 0 40px;
  gap: 2.5em;
}

/*media query*/
@media only screen and (max-width: 1000px) {
  .articulo-gemas {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .escrito {
    border-radius: 0;
  }
  .video {
    display: flex;
    width: 70%;
    padding: 20px 0 0 40px;
  }
}
@media only screen and (max-width: 450px) {
  .escrito {
    font-size: 12px;
  }
  .video {
    width: 90%;
    justify-content: center;
    padding: 20px 0 0 0;
  }
}
/*BIOGRAFIA */
.imagenes {
  display: flex;
  width: 100%;
  height: 100vh;
  background-image: url("../images/cartafondo.jpg");
  background-size: cover;
  background-attachment: fixed;
  object-fit: cover;
}
.imagenes img {
  width: 280px;
  border-radius: 100%;
  position: absolute;
  top: 25%;
  right: 8%;
}

.biog {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: #b1c3c8;
  padding: 1.1em;
}

.cuerpo-biog {
  color: #b1c3c8;
  width: 100%;
  font-size: 15px;
  padding: 1.1em;
}

@media only screen and (max-width: 600px) {
  .imagenes img {
    width: 50%;
    border-radius: 100%;
    position: absolute;
    top: 25%;
    right: 25%;
    font-size: 10px;
  }
}
/* Contacto----------------------------------------------------------- */
.contacto {
  display: flex;
  width: 100%;
  height: 100vh;
  background-image: url(../images/mapa.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.formulario {
  width: 50%;
  padding: 40px;
}

.nav-contact link {
  color: #000;
}

.form {
  display: flex;
  width: 100%;
  height: 60vh;
  justify-content: left;
  padding: 30px;
}

@media only screen and (max-width: 600px) {
  .formulario {
    width: 70%;
  }
}

/*# sourceMappingURL=style.css.map */
