/*.....ASTROLOGÍA.......*/
.bienvenida__astro {
    width: 100%;
    height: 100vh;
    background-image: url("../images/fondoindex6.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    }
    
.bienvenida__frase {
    color:#1d1d1da9;
}

.separador {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    background: #33313B;
    text-align: center;
    padding: 40px;

    p {
        font-size: 15px;
        color: beige;
        padding: 40px;
    }
}

.articulo {
    display: flex;
    height: 800px;
    background-image: url("/images/fondoindex8.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: center;

    img {
        padding: 30px
    }
}

.articulo__cuerpo {
    padding: 30px;
}

.articulos {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    background: #33313B;
    text-align: center;
    padding: 1.5em;
}

.articulos__esferas img {
    width: 100px;
    margin: 5px -15px;
}

.articulos__esferas img:hover {
    transform: transltaleY(-30px);
    scale: 1.4;
    transition: all 0.35s ease;
}

