.bienvenida__index {
    background-image: url("/images/fondo12.jpg");

    @extend .d-flex;
    @extend .d-bienv;

    &__texto {
        padding: 18px;
        width: 500px;
        text-align: center;
        color: beige;
        font-size: 20px;
    }
}

h1 {
    font-family: 'Playfair Display', serif;
    color: beige;
}

h2 {
    font-size: 32px;
    font-weight: 300;
    color: beige;
}

.separador {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 200px;
    background: $main-color;
    text-align: center;
    padding: 40px;

    &:hover {
    background-color: #102233;
    color: #dbe1e1;
    }

    &__texto {
        font-size: 20px;
        color: beige;
        padding: 20px;
    }
}

.cards {
    display: flex;
    height: 800px;
    background-image: url("/images/fondoindex9.jpg");
    @include bg;
    justify-content: center;
    align-items: center;

    h2 {
    display: flex;
    height: inherit;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: 400;
    }
}

.card-group {
    width: 85%;
    height: auto;
    display: flex;
    justify-content: center;
    gap: 25px;
}

.card {
    background-color: #5a0d0d8b;
    
    img {
    border-radius: 100%;
    padding: 15px;
    }
    
    img:hover {
        border: 15px solid #62080861;
        filter: hue-rotate(180deg);
    }
    
}

.card-title {
    text-align: center;
    color: beige;
}

.card-text {
    text-align: center;
    color: #fff
}
